<component name="ArtifactManager">
  <artifact type="war" name="SpringMVCAnnotatedControllerRedirect:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="spring-mvc-annotated-controller-redirect.war">
      <element id="artifact" artifact-name="SpringMVCAnnotatedControllerRedirect:war exploded" />
    </root>
  </artifact>
</component>